a:link {
  color: #C2D7B0;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #C2D7B0;
  text-decoration: none;

}

/* mouse over link */
a:hover {
  color: #C2D7B0;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #C2D7B0;
  text-decoration: none;
}

body {
  font-family: "Futura";
  background-color: #C2D7B0;
  margin: auto;
  color: #FDF8ED;
}
/* The following code is the header */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
 background-color: #FDF8ED;
 position: fixed;
 width: 100%;
}
.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  text-transform: uppercase;
  font-family: "Futura-CondensedMedium";
  font-size: 18pt;
  list-style: none;
  }
.nav-menu{
display: flex;
justify-content:center;
align-items: center;
gap: 60px;
}
.nav-branding{
font-size: 30pt;
padding-right: 20px;
width: 300px;
}
.nav-link{
transition: 0.7s ease;
}
.hamburger{
display: none;
cursor: pointer;
}
.bar{
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #FDF8ED;
}
.basketheader {
  height: 30px;
}
  h1 {
    font-weight: lighter;
    font-size: 24pt;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 300px;
    margin: auto;
    justify-content: center;
  }
  h4 {
    font-weight: lighter;
    font-size: 18pt;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
  }

.headline_text {
  margin: auto;
  margin-top: 120px;
  justify-content: center;
  width: 400px;
  background-color: #FDF8ED;
  color: #C2D7B0;
}
.basket_headline {
  max-width: 30px;
}
.content {
  margin: auto;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: #FDF8ED;
  color: #C2D7B0;
  text-align: center;
}
.iconcontent {
  max-width: 100px;
}
@media(max-width:1000px){
  .navbar {
    font-size: 14pt;
  }
}
@media(max-width:833px){
  .bar {
    background-color: #C2D7B0;
  }
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);  
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);  
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #FDF8ED;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-branding{
    width: 250px;
  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 400px 100px 100px;}
    /* https://getcssscan.com/css-box-shadow-examples used this link to get drop shadow properties. */
  
  }
