body {
  font-family: "Futura";
  background-color: #c2d7b0;
  margin: auto;
  color: #fdf8ed;
}
.p {
  font-family: Arial;
  font-size: 16pt;
  margin-left: 35px;
}
.p1 {
  font-family: Arial;
  font-size: 16pt;
  margin-left: 35px;
  font-weight: bold;
  margin-top: 16px;
}
.p2 {
  font-family: Arial;
  font-size: 16pt;
  margin-left: 35px;
  font-weight: bold;
  margin-top: 10px;
}
a:link {
  color: #c2d7b0;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #c2d7b0;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #c2d7b0;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #c2d7b0;
  text-decoration: none;
}
.clockicon {
  max-width: 11pt;
}
li{
  list-style: none;
  }

/* The following code is the header */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
 background-color: #FDF8ED;
 position: fixed;
 width: 100%;
}
.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  text-transform: uppercase;
  font-family: 'Futura Condensed PT', sans-serif;     
  font-size: 20pt;
  list-style: none;
  }
.nav-menu{
display: flex;
justify-content:center;
align-items: center;
gap: 60px;
}
.nav-branding{
font-size: 30pt;
padding-right: 20px;
width: 300px;
}
.nav-link{
transition: 0.7s ease;
}
.hamburger{
display: none;
cursor: pointer;
}
.bar{
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #FDF8ED;
}
.basketheader {
  height: 30px;
  display: block;
}
.basketheaderorder {
height: 41px;
display: none;
}
.recipetext {
  font-family: "Futura";
  text-transform: uppercase;
  font-size: 28pt;
  text-align: center;
}
.subtext {
  font-family: "Futura-CondensedMedium";
  text-transform: uppercase;
  text-align: center;
}
.date {
  margin-left: 160px;
  margin-top: 20px;
}
.time {
  margin-left: 558px;
  margin-top: -26px;
}
.recipegrid {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  justify-content: center;
  margin: auto;
  gap: 30px;
  max-width: 700px;
  font-family: "Futura";
  color: #000000;
  font-size: 16pt;
  margin-top: 150px;
}
.checkout {
  width: 800px;
  height: 530px;
  justify-content: center;
}
.ordersummary {
  width: 800px;
  height: 340px;
  justify-content: center;
}
.producttext {
  color: #000000;
  font-size: 8pt;
  max-width: 300px;
  font-weight: lighter;
  margin-left: 10px;
}
section {
  background-color: #fdf8ed;
}
.text {
  color: #000000;
  font-size: 30pt;
  font-weight: bolder;
  text-align: center;
  margin-top: 5px;
}
.text2 {
  color: #000000;
  font-size: 24pt;
  font-family: "Futura-CondensedMedium";
  margin-top: 20px;
  margin-left: 35px;
}
.text3 {
  color: #000000;
  font-size: 14pt;
  margin-top: 20px;
  margin-left: 35px;
  font-weight: lighter;
}
#boxtext {
  width: 300px;
  height: 30px;
}

.personalinformation {
  margin-left: 37px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: smaller;
}
.personalinformation2 {
  margin-left: 453px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: smaller;
}
.pi2 {
  margin-top: -324px;
}
.columns-fields {
  column-count: 2;
}
.timedate {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 700px;
}
.thursday {
  width: 160px;
  height: 35px;
  background-color: #c2d7b0;
  font-size: 13pt;
  text-align: center;
  margin-top: 16px;
  margin-left: 35px;
  padding-top: 7px;
}
.nextstep {
  width: 155px;
  height: 80px;
  background-color: #c2d7b0;
  font-size: 17pt;
  font-weight: bolder;
  text-align: center;
  margin-left: 585px;
  margin-top: -80px;
  color: #fdf8ed;
  padding-top: 11px;
}

@media(max-width:1000px){
  .navbar {
    font-size: 16pt;
  }
}
@media screen and (max-width: 833px) {
  @media (max-width: 833px) {
    .bar {
      background-color: #c2d7b0;
    }
    .hamburger {
      display: block;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #fdf8ed;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
    .nav-branding {
      width: 250px;
    }
    .nav-item {
      margin: 16px 0;
    }
    .nav-menu.active {
      left: 0;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 400px 100px 100px;
    }
    /* https://getcssscan.com/css-box-shadow-examples used this link to get drop shadow properties. */
  }
}
@media screen and (max-width: 590px) {
  .recipestartpage {
    max-width: 300px;
  }
}
