body {
  font-family: 'Futura PT';
  background-color: #c2d7b0;
  margin: auto;
  color: #fdf8ed;
}
a:link {
  color: #c2d7b0;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #c2d7b0;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #c2d7b0;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #c2d7b0;
  text-decoration: none;
}
li {
  list-style: none;
}
/* The following code is the header */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #fdf8ed;
  position: fixed;
  width: 100%;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  text-transform: uppercase;
  font-family: "Futura Condensed PT", sans-serif;
  font-size: 20pt;
  list-style: none;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.nav-branding{
  font-size: 30pt;
  padding-right: 20px;
  padding-top: 10px;
  width: 300px;
}
.nav-link {
  transition: 0.7s ease;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fdf8ed;
}
.basketheader {
  height: 30px;
display: block;
}

.contentgrid {
  grid-area: contentgrid;
  color: #000000;
  font-size: 8pt;
  max-width: 380px;
  font-weight: lighter;
  margin-left: 10px;
}
.recipetext {
  font-family: "Futura PT";
  text-transform: uppercase;
  font-size: 28pt;
  text-align: center;
}
.subtext {
  font-family: "Futura Condensed PT", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.checkoutgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit,700px);
  justify-content: center;
  margin: auto;
  gap: 30px;
  max-width: 700px;
  font-family: "Futura PT";
  text-transform: uppercase;
  color: #000000;
  font-size: 16pt;
  margin-top: 150px;
}
.checkout {
  padding-bottom: 20px;
}
.ordersummary {
  padding-bottom: 20px;
  height: 280px;
}
section {
  background-color: #fdf8ed;
  border-radius: 20px;
}
.text {
  color: #000000;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  
}
.text2 {
  color: #000000;
  font-size: 24pt;
  font-family: "Futura Condensed PT", sans-serif;
  margin-top: 20px;
  margin-left: 34px;
}
.textpersonalinfo {
  color: #000000;
  font-size: 24pt;
  font-family: "Futura Condensed PT", sans-serif;
  margin-top: 20px;
  padding-left: 43px;
}
.text3 {
  color: #000000;
  font-size: 14pt;
  margin-top: 20px;
  margin-left: 35px;
  font-weight: lighter;
  line-height: 2;
}
#boxtext {
  width: 300px;
  height: 30px;
}
input {
  font-size: 14pt;
}

.personalinformation {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: smaller;
  column-count: 2;
  line-height: 2;
  padding-left: 43px;

}
.pi2 {
  margin-top: -324px;
}
.nextstep {
  width: 155px;
  height: 90px;
  background-color: #c2d7b0;
  border: #c2d7b0;
  font-size: 16pt;
  font-weight: bolder;
  text-align: center;
  margin-left: 620px;
  margin-top: -145px;
  color: #fdf8ed;
  cursor: pointer;
}

.btn {
  background-color: #C2D7B0;
  color: #FDF8ED;
  border: #C2D7B0;
  margin-top: -70px;
  margin-right: 20px;
  float: right;
  height: 60px;
  width: 120px;
  text-align: center;
  padding-top: 10px;
  font-size: 12pt;
  border-radius: 5px;
}
.btn:link{
  color: #FDF8ED;
}
.btn:hover{
  text-decoration: underline;
}
@media (max-width: 1000px) {
  .navbar {
    font-size: 14pt;
  }
}
@media (max-width: 833px){
    .bar {
      background-color: #c2d7b0;
    }
    .hamburger {
      display: block;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #fdf8ed;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
    .nav-branding {
      width: 250px;
    }
    .nav-item {
      margin: 16px 0;
    }
    .nav-menu.active {
      left: 0;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 400px 100px 100px;
    }
    /* https://getcssscan.com/css-box-shadow-examples used this link to get drop shadow properties. */
  
  .personalinformation {
    column-count: 1;
    padding-left: 15px;
  }
  .checkoutgrid {
    grid-template-columns: repeat(auto-fit,300px);
    gap: 20px;
    max-width: 300px;
    margin-top: 100px;
  }
  .checkout {
    padding-bottom: 25px;
  }

  .textpersonalinfo {
    padding-left: 15px;
  }
  .ordersummary {
  padding-bottom: 20px;
  height: 360px;
  margin-bottom: 30px;
}
  .btn {
    margin-top: 10px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 590px) {
  .recipestartpage {
    max-width: 300px;
  }
}
