body {
  font-family: "Futura PT";
  background-color: #c2d7b0;
  margin: auto;
  color: #fdf8ed;
}
.p {
  font-family: Arial;
  font-size: 16pt;
  margin-bottom: 5px;
}
.p1 {
  font-family: Arial;
  font-size: 16pt;
  font-weight: bold;
  margin-top: 16px;
}
.p2 {
  font-family: Arial;
  font-size: 16pt;
  margin-top: 10px;
}
a:link {
  color: #c2d7b0;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #c2d7b0;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #c2d7b0;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #c2d7b0;
  text-decoration: none;
}
.clockicon {
  max-width: 11pt;
}
li {
  list-style: none;
}

/* The following code is the header */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #fdf8ed;
  position: fixed;
  width: 100%;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  text-transform: uppercase;
  font-family: "Futura Condensed PT", sans-serif;
  font-size: 20pt;
  list-style: none;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
} 
.nav-branding{
  font-size: 30pt;
  padding-right: 20px;
  padding-top: 10px;
  width: 300px;
}
.nav-link {
  transition: 0.7s ease;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fdf8ed;
}
.basketheader {
  height: 30px;
  display: block;
}
.basketheaderorder {
  height: 41px;
  display: none;
}
.recipetext {
  font-family: "Futura PT";
  text-transform: uppercase;
  font-size: 28pt;
  text-align: center;
}
.subtext {
  font-family: 'Futura Condensed PT', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.date {
  font-family: 'Arial';
  font-weight: 500;
  font-size: 18pt;
  margin-bottom: 5px;  
}
.checkoutgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 700px);
  justify-content: center;
  margin: auto;
  gap: 30px;
  max-width: 700px;
  font-family: 'Futura PT';
  color: #000000;
  font-size: 16pt;
  margin-top: 150px;
}
.checkout {
  height: 340px;
  justify-content: center;
  columns: 2;
  padding-left: 34px;
}

.producttext {
  color: #000000;
  font-size: 8pt;
  max-width: 300px;
  font-weight: lighter;
  margin-left: 10px;
}
section {
  background-color: #fdf8ed;
  border-radius: 20px;
  margin-bottom: 30px;
}
.text {
  color: #000000;
  font-size: 30pt;
  font-weight: bolder;
  margin-top: 17px;
  margin-left: -5px;
}
.textdelivery {
  color: #000000;
  font-size: 24pt;
  font-family: "Futura Condensed PT", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.text3 {
  color: #000000;
  font-size: 14pt;
  margin-top: 20px;
  margin-left: 35px;
  font-weight: lighter;
}
#boxtext {
  width: 300px;
  height: 30px;
}

.personalinformation {
  margin-left: 37px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: smaller;
}
.personalinformation2 {
  margin-left: 453px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: smaller;
}
.pi2 {
  margin-top: -324px;
}
.columns-fields {
  column-count: 2;
}
.dategrid {  display: grid;
  grid-template-columns: 140px 140px;
  font-size: 14pt;
  grid-template-rows: 50px 50px;
  gap: 10px 10px;
  text-align: center;
  grid-auto-flow: row;
  grid-template-areas:
    "date1 date2"
    "date3 date4";
}
.date1 { grid-area: date1; 
  background-color: #C2D7B0;
  color: #FDF8ED;
  padding-top: 14px;
  border-radius: 5px;
}
.date2 { grid-area: date2; 
  background-color: #C2D7B0;
  color: #FDF8ED;
  padding-top: 14px;
  border-radius: 5px;
}
.date3 { grid-area: date3; 
  background-color: #C2D7B0;
  color: #FDF8ED;
  padding-top: 14px;
  border-radius: 5px;
}
.date4 { grid-area: date4; 
  background-color: #C2D7B0;
  color: #FDF8ED;
  padding-top: 14px;
  border-radius: 5px;
}

.timegrid {  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 50px;
  gap: 10px 10px;
  font-size: 14pt;
  text-align: center;
  grid-auto-flow: row;
  grid-template-areas:
    "time1 time2";
}
.time1 { grid-area: time1; 
  background-color: #C2D7B0;
  color: #FDF8ED;
  padding-top: 2px;
  border-radius: 5px;
}
.time2 { grid-area: time2; 
  background-color: #C2D7B0;
  color: #FDF8ED;
  padding-top: 2px;
  border-radius: 5px;
}

.ordersummary {
  padding-bottom: 20px;
  height: 280px;
  text-transform: uppercase;
  justify-content: center;
}
.text2 {
  color: #000000;
  font-size: 24pt;
  font-family: "Futura Condensed PT", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.textorder {
  color: #000000;
  font-size: 24pt;
  font-family: "Futura Condensed PT", sans-serif;
  margin-top: 20px;
  margin-left: 34px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.text3 {
  color: #000000;
  font-size: 14pt;
  margin-top: 20px;
  margin-left: 35px;
  font-weight: lighter;
  line-height: 2;
}
.btn {
  background-color: #C2D7B0;
  color: #FDF8ED;
  border: #C2D7B0;
  margin-top: -68px;
  margin-right: 20px;
  float: right;
  height: 60px;
  width: 120px;
  text-align: center;
  padding-top: 10px;
  font-size: 12pt;
  border-radius: 5px;
}
.btn:link{
  color: #FDF8ED;
}
.btn:hover{
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .navbar {
    font-size: 16pt;
  }
}
@media screen and (max-width: 833px) {
  @media (max-width: 833px) {
    .bar {
      background-color: #c2d7b0;
    }
    .hamburger {
      display: block;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #fdf8ed;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
    .nav-branding {
      width: 250px;
    }
    .nav-item {
      margin: 16px 0;
    }
    .nav-menu.active {
      left: 0;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 400px 100px 100px;
    }
    /* https://getcssscan.com/css-box-shadow-examples used this link to get drop shadow properties. */
  }
  .checkoutgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    margin: auto;
    gap: 30px;
    max-width: 300px;
    font-family: 'Futura PT';
    color: #000000;
    font-size: 16pt;
    margin-top: 100px;
  }

  .checkout {
    height: 600px;
    justify-content: center;
    columns: 1;
    padding-left: 10px;
  }
  .ordersummary {
    height: 360px;
  }
  .btn {
    margin-top: 0px;
    margin-right: 20px;
    margin-top: 10px;
    padding-top: 10px;
  }
  .text {
    font-size: 34pt;
    font-weight: bolder;
    margin-top: 17px;
    text-align: center;
  }
  .text2 {
    color: #000000;
    font-size: 20pt;
    font-family: "Futura Condensed PT", sans-serif;
    margin-top: 20px;
    margin-left: 12px;
    text-transform: uppercase;
  }
  .textdelivery {
    color: #000000;
    font-size: 20pt;
    font-family: "Futura Condensed PT", sans-serif;
    margin-top: -70px;
    margin-left: 12px;
    text-transform: uppercase;
  }
  .p {
    font-size: 12pt;
    margin-left: 12px;
    margin-bottom: 20px;
  }
  .p1 {
    font-size: 14pt;
    margin-left: 12px;
    margin-top: 10px;
  }
  .p2 {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 70px;
  }
  .date {
    font-size: 12pt;
  }
  .time {
    margin-left: 208px;
    margin-top: 20px;
    font-size: 8pt;
  }
  .dategrid {  display: grid;
    grid-template-columns: 134px 134px;
    font-size: 14pt;
    grid-template-rows: 50px 50px;
    gap: 10px 10px;
    text-align: center;
    grid-auto-flow: row;
    grid-template-areas:
      "date1 date2"
      "date3 date4";
  }
  .timegrid {  display: grid;
    grid-template-columns: 134px 134px;
    grid-template-rows: 50px;
    gap: 10px 10px;
    font-size: 14pt;
    text-align: center;
    grid-auto-flow: row;
    grid-template-areas:
      "time1 time2";
  }
}
@media screen and (max-width: 590px) {
  .recipestartpage {
    max-width: 300px;
  }
}
