body {
  font-family: "Futura";
  background-color: #c2d7b0;
  margin: auto;
  color: #fdf8ed;
}
a:link {
  color: #c2d7b0;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #c2d7b0;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #c2d7b0;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #c2d7b0;
  text-decoration: none;
}
/* The following code is the header */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #fdf8ed;
  position: fixed;
  width: 100%;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  text-transform: uppercase;
  font-family: "Futura-CondensedMedium";
  font-size: 18pt;
  list-style: none;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.nav-branding {
  font-size: 30pt;
  padding-right: 20px;
  width: 300px;
}
.nav-link {
  transition: 0.7s ease;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fdf8ed;
}
.basketheader {
  height: 30px;
}
.clockicon {
  max-width: 11pt;
}
.contentgrid {
  grid-area: contentgrid;
  color: #000000;
  font-size: 8pt;
  max-width: 380px;
  font-weight: lighter;
  margin-left: 10px;
}
.recipetext {
  font-family: "Futura";
  text-transform: uppercase;
  font-size: 28pt;
  text-align: center;
}
.subtext {
  font-family: "Futura-CondensedMedium";
  text-transform: uppercase;
  text-align: center;
}

.recipegrid {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  justify-content: center;
  margin: auto;
  gap: 30px;
  max-width: 700px;
  font-family: "Futura";
  text-transform: uppercase;
  color: #000000;
  font-size: 16pt;
  margin-top: 150px;
}
.checkout {
  width: 800px;
  height: 480px;
  justify-content: center;
}
.ordersummary {
  width: 800px;
  height: 340px;
  justify-content: center;
}
.producttext {
  color: #000000;
  font-size: 8pt;
  max-width: 300px;
  font-weight: lighter;
  margin-left: 10px;
}
section {
  background-color: #fdf8ed;
}
.text {
  color: #000000;
  font-size: 30pt;
  font-weight: bolder;
  text-align: center;
  margin-top: 5px;
}
.text2 {
  color: #000000;
  font-size: 24pt;
  font-family: "Futura-CondensedMedium";
  margin-top: 20px;
  margin-left: 35px;
}
.text3 {
  color: #000000;
  font-size: 14pt;
  margin-top: 20px;
  margin-left: 35px;
  font-weight: lighter;
}
#boxtext {
  width: 300px;
  height: 30px;
}

.personalinformation {
  margin-left: 37px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: smaller;
  column-count: 2;
}
.pi2 {
  margin-top: -324px;
}
.columns-fields {
  column-count: 2;
}
.nextstep {
  width: 1px;
  height: 80px;
  background-color: #c2d7b0;
  font-size: 16pt;
  font-weight: bolder;
  text-align: center;
  margin-left: 585px;
  margin-top: -80px;
  color: #fdf8ed;
  padding-top: 11px;
}
@media screen and (max-width: 1230px) {
  .recipestartpage {
    max-width: 800px;
  }
}
@media (max-width: 1000px) {
  .navbar {
    font-size: 14pt;
  }
}
@media screen and (max-width: 833px) {
  @media (max-width: 833px) {
    .bar {
      background-color: #c2d7b0;
    }
    .hamburger {
      display: block;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #fdf8ed;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
    .nav-branding {
      width: 250px;
    }
    .nav-item {
      margin: 16px 0;
    }
    .nav-menu.active {
      left: 0;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 400px 100px 100px;
    }
    /* https://getcssscan.com/css-box-shadow-examples used this link to get drop shadow properties. */
  }
}
@media screen and (max-width: 590px) {
  .recipestartpage {
    max-width: 300px;
  }
}
