body {
    font-family: "Futura";
    background-color: #C2D7B0;
    margin: auto;
}
header {
    background-color: #FDF8ED;
    color: #C2D7B0;
    font-family: "Futura-CondensedMedium";
    text-transform: uppercase;
    font-size: 24pt;
    text-align: center;
  }
.header {  display: grid;
    grid-template-columns: 326px 1fr 1fr 1fr 1fr 1fr 0.5fr 60px;
    grid-template-rows: 100px;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "logotype space packages recipes aboutus contact space basket";
  }  
.logotype_header {
padding-top: 20px;    margin-left: 10px;
}
.linkheader {
    margin-top: 41px;
}
.basketheader {
    margin-top: 36px;
    max-height: 60px;
    margin-right: 10px;

}


.conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:25rem 5fr 25rem;
    gap: 50px;
    grid-auto-flow: row;
    margin-left: 50px;
    margin-top: 20px;
}

.box {
    background-color: #FDF8ED;
   width: 400px;
   height: 600px;
   margin-top: -350px;
}



.titles {
    padding-top: 55px;
    color: #FDF8ED;
    font-family: "Futura-medium";
    text-transform: uppercase;
    font-size: 20px;
}

.img {
position: absolute;
width: 280px;
height: 170px;
border-radius: 10px;
margin-top: 30px;
margin-left: 60px;
}


.list {

    padding-top: 250px;
    padding-left: 79px;

}