a:link {
  color: #C2D7B0;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #C2D7B0;
  text-decoration: none;

}

/* mouse over link */
a:hover {
  color: #C2D7B0;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #C2D7B0;
  text-decoration: none;
}

body {
  font-family: 'Futura PT';     
  background-color: #C2D7B0;
  margin: auto;
  color: #FDF8ED;
}
/* The following code is the header */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
 background-color: #FDF8ED;
 position: fixed;
 width: 100%;
}
li{
  list-style: none;
}
.navbar{
min-height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 15px;
text-transform: uppercase;
font-family: 'Futura Condensed PT', sans-serif;     
font-size: 20pt;
}
.nav-menu{
display: flex;
justify-content:center;
align-items: center;
gap: 60px;
}
.nav-branding{
  font-size: 30pt;
  padding-right: 20px;
  padding-top: 10px;
  width: 300px;
}
.nav-link{
transition: 0.7s ease;
}
.hamburger{
display: none;
cursor: pointer;
}
.bar{
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #FDF8ED;
}
.gridpackages {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 30px;
  max-width: 1220px;
  margin: auto;
  font-family: 'Futura PT';     
  text-transform: uppercase;
  font-size: 16pt;
  padding: 20px;
  margin-top: 150px;
}
.basketheader {
  height: 30px;
  display: block;
}

h4 {
    font-size: 24pt;
    margin-top: 15px;
    color: #C2D7B0;
    max-width: 300px;
    margin-left: 15px;
    color: #000000;
    text-transform: uppercase;
}
h5 {
    margin-top: -10px;
    margin-bottom: -15px;
    margin-left: 2px;
    font-size: 12pt;
    color: #000000;
    text-transform: uppercase;
}
.clockicon {
  max-width: 11pt;
}
.productcontentgrid {  display: grid;
  grid-template-columns: 336px 144px;
  grid-template-rows: 120px 180px 180px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "headlinegrid buttongrid"
    "contentgrid contentgrid"
    "contentgrid contentgrid";
}

.headlinegrid {
  grid-area: headlinegrid; 
}

.buttongrid {
  grid-area: buttongrid; 
}
.button {
  background-color: #C2D7B0;
  width: 140px;
  height: 50px;
  font-size: 9pt;
  margin-top: 18px;
  padding-top: 4px;
  margin-right: 30px;
  text-align: center;
  text-transform: uppercase;
}
.contentgrid {
  grid-area: contentgrid;
  color: #000000;
  font-size: 12pt;
  max-width: 480px;
  font-weight: 400;
  margin-left: 15px; 
}

.recipetext {
  font-family: 'Futura PT';     
    text-transform: uppercase;
    font-size: 28pt;
    text-align: center;
  }  
.subtext {
  font-family: 'Futura Condensed PT', sans-serif;     
    text-transform: uppercase;
    text-align: center;
  }

.recipegrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  justify-content: center;
  margin: auto;
  gap: 30px;
  max-width: 1030px;
  font-family: 'Futura PT';     
  font-size: 18pt;
  margin-top: 100px;
}
.recipeimage {
width: 500px;
height: 500px;
border-radius: 20px;
}
.linkrecipe {
    float: right;
    margin-right: 5px;
    font-size: 14pt;
    font-weight: bold;
}
.producttext {
  color: #000000;
  font-size: 10pt;
  max-width: 300px;
  font-weight: lighter;
  margin-left: 10px;
}
section {
  background-color: #FDF8ED;
  border-radius: 20px;
}
.listcolumns {
  column-count: 2;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media(max-width:1030px){
  .recipegrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
    margin: auto;
    gap: 20px;
    max-width: 820px;
    font-family: 'Futura PT';     
    font-size: 16pt;
    margin-top: 100px;
  }
  .productcontentgrid {  display: grid;
    grid-template-columns: 280px 120px;
    grid-template-rows: 100px 150px 150px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "headlinegrid buttongrid"
      "contentgrid contentgrid"
      "contentgrid contentgrid";
  }
  .recipeimage {
    width: 400px;
    height: 400px;
    }
  .contentgrid {
      grid-area: contentgrid;
      color: #000000;
      font-size: 8pt;
      max-width: 380px;
      font-weight: lighter;
      margin-left: 15px;
    }
    h4 {
      font-size: 20pt;
    }
    h5 {
      margin-top: -5px;
      margin-bottom: -10px;
      margin-left: 2px;
      font-size: 12pt;
      color: #000000;
      text-transform: uppercase;
  }
  .button {
    background-color: #C2D7B0;
    width: 100px;
    height: 50px;
    font-size: 8pt;
    margin-right: 18px;
    padding-top: 7px;
    margin-right: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}
@media(max-width:1000px){
  .navbar {
    font-size: 16pt;
  }
}
@media(max-width:833px){
  .bar {
    background-color: #C2D7B0;
  }
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);  
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);  
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #FDF8ED;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-branding{
    width: 250px;
  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 400px 100px 100px;}
    /* https://getcssscan.com/css-box-shadow-examples used this link to get drop shadow properties. */
  
    .recipegrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      justify-content: center;
      margin: auto;
      gap: 20px;
      max-width: 300px;
      font-family: 'Futura PT';     
      font-size: 16pt;
      margin-top: 80px;
      margin-bottom: 30px;    
    }
    .productcontentgrid {  display: grid;
      grid-template-columns: 200px 100px;
      grid-template-rows: 100px 150px 150px;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "headlinegrid buttongrid"
        "contentgrid contentgrid"
        "contentgrid contentgrid";
    }
    .recipeimage {
      width: 300px;
      height: 300px;
      }

    .contentgrid {
        grid-area: contentgrid;
        color: #000000;
        font-size: 7.5pt;
        max-width: 280px;
        font-weight: lighter;
        margin-left: 15px; 
      }
      h4 {
        font-size: 14pt;
        margin-top: 8px;
        color: #C2D7B0;
        max-width: 180px;
        margin-left: 15px;
        color: #000000;
        text-transform: uppercase;
    }
      h5 {
        margin-top: -30px;
        margin-bottom: -15px;
        margin-left: 2px;
        font-size: 10pt;
        color: #000000;
        text-transform: uppercase;
    }
    .button {
      background-color: #C2D7B0;
      width: 80px;
      height: 45px;
      font-size: 6pt;
      margin-top: 12px;
      padding-top: 8px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      text-transform: uppercase;
    }
  }