body {
  font-family: "Futura";
  background-color: #c2d7b0;
  margin: auto;
}
a:link {
  color: #c2d7b0;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #c2d7b0;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #c2d7b0;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #c2d7b0;
  text-decoration: none;
}
header {
  background-color: #fdf8ed;
  font-family: "Futura-CondensedMedium";
  /* https://careerkarma.com/blog/css-all-caps/ Used this link to get all letters in uppercase. /CÖ*/
  text-transform: uppercase;
  font-size: 24pt;
  text-align: center;
  width: 100%;
  position: fixed;
}
.header {
  display: grid;
  grid-template-columns: 326px 0.5fr 1fr 1fr 1fr 1fr 0.5fr 60px;
  grid-template-rows: 100px;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "logotype space packages recipes aboutus contact space basket";
}
.logotype_header {
  padding-top: 20px;
  margin-left: 10px;
}
.linkheader {
  margin-top: 41px;
}
.basketheader {
  margin-top: 36px;
  max-height: 60px;
  margin-right: 10px;
}
.recipestartpage {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 30px;
  max-width: 1220px;
  margin: auto;
  font-family: "Futura";
  text-transform: uppercase;
  font-size: 16pt;
  padding: 20px;
  padding-bottom: 30px;
  margin-top: 100px;
}
.smoothie {
  max-width: 150px;
}
.mimosa {
  max-width: 150px;
}
.coco {
  max-width: 150px;
}
.avocado {
  max-width: 150px;
}
.salmon {
  max-width: 150px;
}
.egg {
  max-width: 150px;
}
.acaibowl {
  max-width: 150px;
}
.swewaffles {
  max-width: 150px;
}
.pancaces {
  max-width: 150px;
}
.linkrecipestartpage {
  float: right;
  margin-right: 5px;
  font-size: 12pt;
  font-weight: bold;
}
section {
  background-color: #fdf8ed;
  padding: 10px;
  padding-bottom: 30px;
  height: 500px;
}
h4 {
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 10px;
  color: #fdf8ed;
}
h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}
